@{
    ViewBag.Title = "About";
    ViewBag.Message = "What Our App Acomplishes";
}
<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>

<p>Here at Smart Shopping we want it to be easier to manage your grocery lits!</p>
<p>What we do is make it where you can input a broad category such as groceries. Then you can go inside that list
    and put specific items.</p>
<p>You have the option of setting the items priority to one of three choices:
    Grab it Now, It Can Wait, or Need it Soon.</p>
<p>When you have put the item in your shopping cart, you can go in and delete that specific item and still see the items you need, want, or have to get still.</p>
<p>Or if you wait till the very end of your shopping trip, you can press the Delete All in the top right corner and delete every item from your list.</p>

